.card {
    background-color: #FFCDCD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
}

.titleInput {
    font-size: 1.5em;
    background-color: #FFCDCD;
    border: none;
}

#newToDoInput {
    border: none;
    background-color: #ffcdcd9a;
}

.taskText {
    font-size: 1em;
}

.taskList {
    border-radius: 15px;
}

.taskList li {
    border-radius: 15px;
}

.buttonIcon {
    font-size: 1.3em;
    color: gray;
}

.checkbox {
    transform: scale(1.4);
}

.textFieldListItem {
    background-color: #FFCDCD;
    border: 1px solid gray;
}

.addTaskButton {
    color: gray;
}

.userInputForm {
    overflow: hidden;
}

@media screen and (max-width: 479px) {
    .card {
        padding-left: 0;
        padding-right: 0;
    }

    .editUserInput input {
        width: 140px;
    }
}